.container {
  
}


.consoleBox{
  /* width: 100vw; */
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../public/images/Background_Dots.png");
  background-size: cover;
  background-position: center;
  padding: 2rem;

}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
